<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sangwoon.rang">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".BarcodeActivity" />
        <activity android:name=".CompareActivity" />
        <activity android:name=".BackgroundTask" />
        <activity android:name=".NetworkUtil" />
        <activity android:name=".CloseAnimation" />
        <activity android:name=".OpenAnimation" />
        <activity android:name=".ListData" />
        <activity android:name=".Search_History" />
        <activity android:name=".History_ListData" />
        <activity android:name=".User_info" />
        <activity android:name=".Splash" />
        <activity android:name=".Detail_Search" />
        <activity android:name=".nutrient_compare" />
        <activity android:name=".nutrient_adapter" />
        <activity android:name=".text_compare_Activity"></activity>
    </application>

</manifest>
